// Mixins
@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin serif-font() {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
@mixin sans-serif-font() {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}


/*=box{}
    webkit-border-radius: 100%;
    moz-border-radius; 100%;
    box-shadow: 0 5px 10px #555;
    webkit-box-shadow: 0 5px 10px #555;
    
    
    background: -webkit-linear-gradient{orangered, yellow}
    background: -o-linear-gradient{orangered, yellow}
    background: -moz-linear-gradient{orangered, yellow}
    background: -linear-gradient{orange red, yellow}*/