.client-thumbnails-wrapper {
    .client-thumbnail {
        padding: 10px;

        .client-image {
            width: 85%;
            border: 3px solid #8e8080;

        }
        .client-name {
            font-size: 1.5em;
            color: #7cd2cd;
        }
        .client-designation {
            font-size: 0.8em;

        }
    }
}

.client-section {
    .clients-row {
        padding: 60px 0;
    }
    .clients-slider {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
        width: 340px;
        height: 340px;
        margin: auto;
        .client-item {
            text-align: center;
            padding: 20px;
            img {
                width: 90%;
                margin: auto;
            }
        }
    }
    .mogambo-wrapper {
        text-align: center;
        img {
            width:45%;
        }
    }
}
