.contact-thumbnail-wrapper{
    
    .contact-thumbnail{
        margin-top: 50px;
        .email-phone-wrapper{
            .phone{}
            .email{}
        }
    }
    .contact-form-thumbnail{
         margin-top: 50px;
        .form-group{
            .form-control{
                background: none;
                border: 1px solid #a1a4a7;
            }
        }
    }  
    
}