.contact1-wrapper {
    font-size: 24px;
    
    .phone {
        
    }
    .home {}
    .email {

        .info-letter {
            color: #f52b2b;
        }
    }
}

.contact-us {
    margin-top: 40px;
    .google-map {}
    .contact-form-wrapper {
        background-color: #f4f4f4;
        .contact-form {

            .form-group {
                border: 1px solid #e0e1e1;
            }
        }
    }
}
