// Styling for the services section
.service-box {
    max-width: 400px;
}

.ml2 .letter {
    display: inline-block;
    line-height: 0.5em;
}

//JavaScript
// Wrap every letter in a span
//Tagline





.client-image {
    width: 100%;
}

.AR-slider-item {
    width: 100%;
}


.about-thumbnails-wrapper {
    .about-thumbnail {
        padding: 54px;
        .about-image {
            width: 67%;
            border: 3px solid $text-black;
        }
        .app-images-wrapper {
            position: relative;
            width: 67%;
            margin: auto;
            .app-about-image {
                width: 100%;
            }
            .app-image {
                position: absolute;
                top:-30px;
                left: -16px;
                width: 60px;
            }
        }
        .text-wrapper {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                background: url(../img/scribble.png);
                width: 100%;
                left: -19px;
                z-index: -1;
                height: 191px;
                background-repeat: no-repeat;
            }
            .title {
                font-weight: bold;
                font-size: 1rem;
                margin-top: 16.2px;
                @include montserrat();

                color: $text-black;
            }
            .text {
                @include nunito();
                font-size: 15.5px;
                line-height: 20.7px;
            }
        }
    }
}
